.playerButtons button {
    font-size: large;
    height: 75px;
    width: 75px;
    border-radius: 25px;
    background-color: #255C9B;
}

.playerButtons button.playerButtonsSelected {
    background-color: #1E4B7D;
}

.playerNames input {
    margin-bottom: 20px;
    width: 275px;
    text-align: center;
}